<footer>
  <mat-grid-list cols="4" rowHeight="120px">
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <h3>Security</h3>
        </mat-list-item>
        <mat-list-item><a href="#"> Terms & Conditions </a></mat-list-item>
        <mat-list-item><a href="#"> Privacy Policy </a></mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <h3>Helpful links</h3>
        </mat-list-item>
        <mat-list-item><a href="https://www.w3.org/WAI/standards-guidelines/wcag/"> WCAG </a></mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <h3>Contacts</h3>
        </mat-list-item>
        <mat-list-item>Sofia, Bulgaria</mat-list-item>
        <mat-list-item>jobs-access@email.com</mat-list-item>
        <mat-list-item>+359 99 99 99 00</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <h3>Social</h3>
        </mat-list-item>
        <mat-list-item><a href="#"> Facebook </a></mat-list-item>
        <mat-list-item><a href="#"> Instagram </a></mat-list-item>
        <mat-list-item><a href="#"> Linkedin </a></mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</footer>