<section>
  <div class="for-column">
    <h2 id="heading-for-candidates">For candidates</h2>
    <button mat-flat-button routerLink="../jobs" aria-describedby="heading-for-candidates">Jobs</button>
    <button mat-flat-button routerLink="../employee-resources" aria-describedby="heading-for-candidates">Help
      resources</button>
  </div>
  <div class="for-column">
    <h2 id="heading-for-employers">For employers</h2>
    <button mat-flat-button routerLink="../jobs/new" aria-describedby="heading-for-employers">Add a job</button>
    <button mat-flat-button routerLink="../employer-resources" aria-describedby="heading-for-employers">Help
      resources</button>
  </div>
</section>